.heading {
  font-size: 3em;
}

.card {
  min-height: 6em;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.social-links-container {
  justify-content: center;
}

.sl {
  padding: 0 10px 0 10px;
  font-size: 2em;
}
