html,
body {
width: 100%;
margin-left: 0;
margin-right: 0;
}

body,
h1,
section,
div {
  box-sizing: border-box;
}



/**
* page heading
*/

.page-header {
  width: 100%;
  margin-top: 2em;
}

.inner-header {
  width: 100%;
  display: flex;
}

.bars {
  display: none;
}

.heading {
  flex: 1;
  margin: 0 0 0 3em;
  font-size: 3em;
  text-align: left;
  color: #4a535f;
}

.trophy {
  display: none;
}

/* horizontal line below page header*/

.line-below-header {
  margin-top: .5em;
  margin-left: 3em;
  margin-right: 3em;
  height: 0;
  color: #d7e4f4;
}

/* main part*/

main {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  margin-top: 3em;
}

/* user column*/

.user {
  margin-left: 3em;
  margin-top: 10em;
}

.login {

}

input {
  width: 251px;
  height: 20px;
  border: none;
  border-bottom: 1px solid black;
  text-align: center;
}

input:focus {
  outline: none;
}

#user-name {
}

#user-email {
  margin-top: 25px;
}

.game-options-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 40px;
  background-color: #ccbfbf;
  padding: 5px;
}

.game-option {
  display: inline-block;
  padding: 30px;
  background-color: #f7e8e8;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: 800;
}

.play-button {
  margin-top: 4em;
  padding: 10px;
  margin-left: 5em;
}
.card,
.game-option:hover,
.play-button:hover,
.bars:hover,
.trophy:hover,
.fs-icon,
.refresh-icon {
  cursor: pointer;
}


.hr-after-user {
  margin: 3em 50px 0 50px;
}

/* game */

.game {
  flex: 1 1;
}

.game-heading {
  text-align: center;
  margin-top: 0;
}

.game-extras-container {
  display: flex;
  flex-flow: row no wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0 10px 0 10px;
}

.game-extra {

}

.move {
  padding :0 3px 0 0;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  padding: 10px;
  background: cornflowerblue;
}

.game-board.full-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2000;
}

.game-board-at-start {
  pointer-events: none;
  opacity: .4;
}
/*card*/
.scene {
 perspective: 600px;
}
.card {
  background-color: darkslategrey;
  min-height: 4em;
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
   transform-style: preserve-3d;

}
.card-face {
  text-align:center;
  color:white;
  font-size:2em;
  backface-visibility: hidden;
  position: absolute;
  height: 100%;
  width: 100%;

}
.front-face {
  background: inherit;
}

.back-face {
  background: inherit;
  transform: rotateY( 180deg );
}
.card.is-flipped {
  transform: rotateY(180deg);
}

.card.matched {
  box-shadow:0px 4px 1px 1px green;
}

.card.unmatched {
  box-shadow:1px 1px 1px 1px red;

}
/* top scorer */

.hr-after-game {
  margin: 3em 50px 0 50px;
}

.top-scorer  {
  margin-top: 4em;
  margin-right: 3em;
}

.ts-heading {
  margin-top: 0;
  text-align: center;
  color: darkslategrey;
}

.scorer-list-container {
  list-style-type: decimal;
  list-style-position: inside;
  padding: 0;
  margin-bottom: 0;
  background-color: lightgrey;
  opacity: 0.5;
}

.score-report {
  padding: 8px;
  margin-bottom: 2px;
  background-color: white;
}

.scorer-name {
  padding: 5px;
  color: #040f8b;
  font-size: 24px;
}

.scorer-score {
  padding: 5px;
  margin-left: 10px;
}

/* footer*/

.hr-after-main {
  margin: 1em 3em 1em 3em;
}

.page-footer {
  width: 100%;
}

.social-links-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
}

.copyright {
  text-align: center;
}
