html,
body {
width: 100%;
margin-left: 0;
margin-right: 0;
}

body,
h1,
section,
div {
  box-sizing: border-box;
}

/* pahe heading h1*/

.page-header {
  width: 100%;
  margin-top: 2em;
}

.inner-header {
  width: 100%;
  display: flex;
}

.bars {
  display: none;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 2em;
  color: blue;

}

.heading {
  flex: 1;
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 3em;
  text-align: left;
  color: #4a535f;
}

.trophy {
  display: none;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 2em;
  color: blue;
}

/* horizontal line below page header*/

.line-below-header {
  margin-top: .5em;
  margin-left: 3em;
  margin-right: 3em;
  height: 0;
  color: #d7e4f4;
}

/* main part*/

main {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 75px;
}

/* user column*/

.user {
  margin-left: 3em;
  margin-top: 7em;
}

.login {

}

input {
  width: 251px;
  height: 20px;
  border: none;
  border-bottom: 1px solid black;
  text-align: center;
}

input:focus {
  outline: none;
}

#user-name {
}

#user-email {
  margin-top: 25px;
}

.game-options-container {
  margin-top: 40px;
  background-color: #ccbfbf;
  padding: 5px;
}

.game-option {
  display: inline-block;
  padding: 30px;
  background-color: #f7e8e8;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: 800;
}

.play-button {
  margin-top: 4em;
  padding: 10px;
  margin-left: 5em;
}

.hr-after-user {
  margin: 0 0 0 50px;
}
