.heading {
  font-size: 2.5em;
}

.bars {
  display: block;
  margin-left: 2em;
  font-size: 2em;
  padding-top: 5px;
}

 .trophy {
  display: none;
}

.game-heading {
  font-size: 1.5em;
}

.player-name {
  font-size: 1.3em;
}

.user {
  display: none ;
}

  input {
    width: 251px;
    height: 20px;
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
  }

  input:focus {
    outline: none;
  }

  #user-name {
  }

  #user-email {
    margin-top: 25px;
  }

  .game-options-container {
    display: block;
    margin-top: 40px;
    background-color: inherit;
    padding: 5px;
  }

  .game-option {
    display: inline-block;
    padding: 30px;
    background-color: #f7e8e8;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 800;
  }

  .play-button {
    margin: 4em 0 0 0;
    padding: 10px;
  }

.user-open-close{
  display:block;
  position:absolute;
  z-index:2000;
  background:lightblue;
  margin:0;
  padding:10px;
  height: 100%;
  width:100%;
  text-align: center;
}

.hr-after-game {
  display: block;
}

.card {
  min-height: 6em;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.top-scorer {
  display: block;
  margin-top: 2em;
}

.social-links-container {
  justify-content: center;
}

.sl {
  font-size: 1.8em;
  padding : 0 10px 0 10px;
}
